@model HomeViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Platforms)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

            </td>
        </tr>
    }
</table>
